<div class="container">
  <div class="row">
    <div class="introtext">
      <h1>Intro text</h1>
      <div class="h3 p-4 my-2 border border-4 rounded">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-block btn-lg btn-primary my-2" (click)="navpage()">
      Apply For Trainer
    </button>
  </div>
</div>
